bin/
build/
.kdev4/
msg_gen/
srv_gen/
msg/*.py
srv/*.py
lib/
docs/
catkin/
catkin_generated/
*.log.*
*-build-desktop/
*~
*.bk
*.cfgc
*.user
*.user*
*.pro
*.pyc
*.log
*.map
*.bag
*.jpg
*.bmp
*.pcd
*.kdev4
*.cproject
*.project
*.pydevproject
*.cscope*
*.orig
.metadata/
.settings/
CATKIN_IGNORE
